/* index.css */
html, body {
  height: 100%;
  margin: 0;
}

.custom-bg, .custom-bg-edu {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-bg {
  background-image: url('../../public/Assets/OIP.jpg'); /* Adjust the path to your background image */
}

.custom-bg-edu {
  background-image: url('../../public/Assets/education.jpg'); /* Adjust the path to your background image */
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-center {
  text-align: center;
}

.list-group-item {
  font-size: 1.2rem;
}

.gradient-text {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  color: transparent;
}

.small-image {
  max-width: 50%;
  height: auto;
}
.certification-link {
  color: gray; /* Ensure the initial color is set */
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.certification-link:hover {
  /* background-color: #f0f0f0; Light grey background on hover */
  color: #007bff; /* Bootstrap primary color on hover */
  text-decoration: underline;
}

.list-group-item {
  font-size: 1.2rem;
}