


/* styles.css */
.small-image {
  width: 50%; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
}

.float-right {
  float: right;
  margin-left: 20px; /* Optional: Add some margin for spacing */
}

.custom-bg {
  background-color: #05386a; /* Set the background color to blue */
  min-height: 100vh; /* Ensure it covers the full viewport height */
  display: flex;
  flex-direction: column; /* Set the background color to blue */
}

.gradient-text {
  background: linear-gradient(45deg, #ff6b6b, #f06595, #cc5de8, #845ef7, #5c7cfa, #339af0, #22b8cf, #20c997, #51cf66, #94d82d, #fcc419, #ff922b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}